// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap');
// @import url('//db.onlinewebfonts.com/c/c36a75c5ada59665e225bbf5e38efd34?family=Averta-Bold');


.yellow{
  color: #FFDF00;
}
$navbar_color: #FFDF00;

$font-size: 16px;
a,
a:hover {
  text-decoration: none !important;
  color: inherit !important;
}



#the_navbar {
  color: white;
  background-color: #0D1946;
  font-family: "Averta-Regular";
  .logo{
    display: flex;
    svg{
      margin: 0 10px;
      width: 30px;
    }
  }
  .nav__logo {
    font-weight: 600;
    font-size: 2rem;
    margin: auto 0;
    width: 200px;
    span {
      color: $navbar_color;
    }
  }
  li {
    list-style: none;
  }
  .desktop__navbar {
    // font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1.5rem 1rem;
    .desktop__nav__list {
      display: flex;
      padding: 0;
      margin: 0;
      li {
        margin: auto .15rem;
        // text-transform: uppercase;
        a {
          padding: 1rem 1rem .5rem;
          // color: #00CC6A;
          margin: .5rem 0 auto 0;
          &:hover {
            // border-bottom: $navbar_color 2px solid;
            color: $navbar_color !important;
          }
        }
        .active {
          // border-bottom: $navbar_color 2px solid;
          color: $navbar_color !important;
        }
        .sign__up {
          border: 2px solid $navbar_color;
          color: $navbar_color;
          padding: .75rem 1.2rem;
          border-radius: .25rem;
          &:hover {
            border: 2px solid transparent;
            background-color: $navbar_color;
            color: white;
            // color: lighten($navbar_color, $amount: 100);
          }
        }
      }
    }
  }
  .mobile__nav,
  .mobile__hamburger {
    display: none;
    overflow: hidden;
  }
  .mobile__hamburger {
    margin: .5rem 0;
    width: 35px;
    cursor: pointer;
    div,
    &::before,
    &:after {
      // background-color: #000;
      background-color: #fff;
      content: '';
      display: block !important;
      height: 2px;
      margin: 7px 0;
      transition: all .2s ease-in-out;
      z-index: 30;
    }
    &::before {
      width: 20px;
    }
    &::after {
      width: 20px;
      transform: translateX(15px);
    }
    &:hover {
      div {
        width: 25px;
        transform: translateX(10px);
      }
      &:after {
        width: 30px;
        transform: translateX(5px);
      }
      &::before {
        width: 35px;
      }
    }
  }
  .mobile__nav__bg {
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    background-color: #0D1946;
    color: #fff;
    // display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 4;
    .mobile__nav {
      .closeBtn {
        margin: 1rem 0;
        width: 35px;
        position: absolute;
        top: 5%;
        right: 5%;
        cursor: pointer;
        div,
        &::before,
        &:after {
          // background-color: #000;
          background-color: #fff;
          content: '';
          display: block !important;
          height: 3.5px;
          margin: -4px;
          transition: all .2s ease-in-out;
          z-index: 30;
        }
        div{
          display: none !important;
        }
        &::before {
          // width: 20px;
          transform: rotate(135deg);
        }
        &::after {
          // width: 20px;
          transform: rotate(-135deg);
        }
        
      }
      li{
        padding: 2rem 0;
        font-size: 1.5rem;
        &:hover{
          color: #FFDF00;
        }
      }
      .active{
        color: #FFDF00;
      }
    }
  }
  // @media (min-width: 576px) { ... }
  // Medium devices (tablets, 768px and up)

  @keyframes slide-down {
    from {
      transform: translateY(-100vh);
    }
  
    to {
      transform: translateY(0);
    }
  }
  @keyframes slide-up {
    from {
      transform: translateY(0);
      display: flex;
    }
  
    to {
      transform: translateY(-100vh);
      display: none;
    }
  }
  @media (max-width: 992px) {
    .desktop__navbar {
      padding: 1.5rem 0;
      .desktop__nav__list {
        display: none !important;
      }
    }
    .mobile__nav__bg{
      // display: ;
      position: fixed;
      animation: slide-down .5s ease-in-out 0s 1 alternate;
    }
    .mobile__nav,
    .mobile__hamburger {
      display: block;
    }
  }
}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }
// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }