.content p{
  opacity: 0.7;
}

h2{
  font-size: 1.5rem;
  margin: 1.75rem 0 .25rem;
}
.target-users li{
  margin-bottom: 1.5rem;
  opacity: 0.5;
  font-family: "Averta-light";
}
.target-users li b{
  font-family: "Averta-Bold";
}
.target-users ul{

}
.target-users li::before{
  content: "\220E";
  font-size: 1em;
  color: #ffdf00;
  font-weight: 800;
  display: inline-block;
  width: 1.5em;
  margin-left: -1.5em;
  /* margin-top: -2.5em; */
  /* margin-bottom: -2.5em; */
}