.content p{
  opacity: 0.7;
}
.header ul li::before{
  content: "\2022";  
  font-size: 1.5em;
  color: #ffdf00; 
  font-weight: 800; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
  margin-top: -2.5em;
  margin-bottom: -2.5em;
}
h2{
  font-size: 1.65rem;
  margin: 1.5rem 0;
}
.target-users li{
  margin-bottom: 1.5rem;
  opacity: 0.7;
}
.target-users ul{

}
.target-users li::before{
  content: "\220E";  
  font-size: 1em;
  color: #ffdf00; 
  font-weight: 800; 
  display: inline-block; 
  width: 2em; 
  margin-left: -1em; 
  /* margin-top: -2.5em; */
  /* margin-bottom: -2.5em; */
}